<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">                
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .block{
                display: inline-block;
            }
        </style>
    </head>
    <body style="background-color: mediumaquamarine;">
        <!-- title -->
        <div style="margin-top: 80px; text-align: center;">
            <h1 style="font-family: 'Sacramento', cursive; font-size: 80px;">Personal Finance Tracker</h1>
        </div>

        <!-- left panel -->
        <div style="padding-left: 40px;">
            <h2 style="text-decoration: underline;">WELCOME TO PERSONAL FINANCE TRACKER!</h2>
            <img src="../static/image1.png" style="padding-left: 50px; margin-top: 30px;" alt="Trulli" width="300" height="180">
            <span style="margin-left: 400px;"> <button type="button" class="btn btn-primary" style="padding: 15px 32px;
                text-align: center;"> <a href="/login">Log In</a></button> </span>
            <span style="margin-left: 420px;"> 
                <img src="../static/image3.png"  alt="Trulli" width="280" height="180">
            </span>

            <span class="block" style="padding-left: 40px;">
                <span>Plan and manage your budget across various <br> categories (food, utilities, accessories, etc)</span> 
            </span>
            <span class="block" style="padding-left: 850px;">
                <span>Link your bank accounts to manage expenses <br> <span style="margin-left: 80px;"> and view transactions </span></span>
            </span>

            <br>

            <img src="../static/image2.png" style="padding-left: 50px; margin-top: 30px;" alt="Trulli" width="300" height="180">
            <span style="margin-left: 400px;"> <button type="button" class="btn btn-danger" style="padding: 15px 32px;
                text-align: center;">Sign Up</button> </span>
            <span style="margin-left: 420px;"> 
                <img src="../static/image4.png"  alt="Trulli" width="280" height="180">
            </span>

            <span class="block" style="padding-left: 80px;">
                <span>Enter your cash expenses <br> </span> 
            </span>
            <span class="block" style="padding-left: 950px;">
                <span>Watch your credit score increase as you become <br> an expert at managing your personal finances! </span></span>
            </span>

            
            <!-- <img src="../static/image2.png" style="padding-left: 40px; margin-top: 40px;" alt="Trulli" width="300" height="180">
            <p style="padding-left: 70px;">Enter your cash expenses</p> -->


        </div>

    </body>
</html>