.canvas{
    width: 86%;;
    margin: auto;
}

.content{
    text-align: center;
}

.cornerCanvas {
    border-radius: 25px;
    padding: 20px; 
    height: auto;  
    background: white;
    margin: 10px;
    width: auto;
}

.profile{
    margin-left: 20px;
}

.asOf{
    margin-left: 100px;
}

.progress{
    height: 20px;
}

.green{
    color: green;
}