.canvas{
    width: 86%;;
    margin: auto;
}

.content{
    text-align: center;
}

.cornerCanvas {
    border-radius: 25px;
    height: auto;  
    background: whitesmoke;
    margin: 10px;
    width: auto;
    box-shadow: 2px 2px 8px #3db48bc2;
    text-align: center;
    padding: 10px;
}

.profile{
    margin-left: 20px;
}

.asOf{
    margin-left: 100px;
}

.progress{
    height: 20px;
}

.green{
    color: green;
}